<ion-view>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <h2 class="title welcome-title">{{item.title}}</h2>
  </div>
  <ion-content class="has-header">
    <div class="sadhana-text-header">
      <span>See content for {{resource.publishDate | amDateFormat : dateFormats.USER}}</span>
    </div>
    <div ui-view></div>
  </ion-content>
</ion-view>
