@import '../../../../../../styles/modules/base';

a.own-program {
  text-decoration: none;
  font-size: 0.95em;
  color: $dusty-gray;

  .icon {
    float: right;
    font-size: 1.7em;
    margin-right: 10px;
  }
}

form.search-form {
  width: 100%;

  .search-button {
    border: none;
    background-color: inherit;
  }
}

.tab-items {
  @extend %clearfix;
  line-height: 0;
  width: 100%;
  background-color: $black;

  .tab-gallery {
    position: relative;
    display: inline-block;
    width: 50%;
    line-height: 0;
    border: 1px solid $white;

    &:nth-child(2n+2) {
      border-right: none;
    }

    &:nth-child(2n+1) {
      border-left: none;
    }

    &:hover .category-thumb {
      opacity: 0.7;
    }
  }

  .icon-arrow {
    position: absolute;
    color: #9e9e9e;
    font-size: 1em;
    top: 50%;
    transform: translate(0, -50%);
    right: .6em;
    z-index: 1000;
  }

  .tab-gallery-disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .text-t {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: $white;
    font-size: 1em;
    transform: translate(-50%, -50%);
    line-height: 1.3;
    z-index: 1000;
    max-width: 88px;
  }

  .category-thumb {
    width: 100%;
    height: auto;
    line-height: 0;
    opacity: 0.6;
  }

  .rect-border {
    padding: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: solid 2px $white;
      z-index: 1000;
    }
  }

}
