<ion-content>
  <div class="tab-position padding">
    <ul class="">
      <li class="item bdr">
        <a class="own-program pgm">Create own program (coming soon)
          <i class="icon ion-ios-plus-empty"></i>
        </a>
      </li>
      <li class="item-input-inset search">
        <form class="search-form" name="searchForm">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Search..." ng-model="query" required>
            <button class="search-button" type="submit" ui-sref="menu.programs.searchResults({ query: query })" value="Search" ng-disabled="searchForm.$invalid">
              <i class="icon ion-ios-search placeholder-icon"></i>
            </button>
          </label>
        </form>
      </li>
      <div class="text-tt">Choose category or search for specific topic</div>
      <div class="tab-items">
        <a href="" class="tab-gallery" ng-class="{'tab-gallery-disabled': category.disabled}" ng-repeat="category in categories" ui-sref="menu.programs.searchResults({ categoryName: category.name, categoryCode: category.code, categoryKeywords: category.keywords.join() })">
          <span class="text-t">{{category.name}}</span>
          <!-- <div class="rect-border"></div> -->
          <div class="icon-arrow ion-chevron-right"></div>
          <div class="category-thumb-wrap">
            <img src="" alt="{{category.name}} thumbnail" class="category-thumb" ng-src="{{category.img}}">
          </div>
        </a>
      </div>
    </ul>
  </div>
</ion-content>
