@import '../../../../styles/modules/base';

.table-stripe {
  &.table-calendar {
    tr {
      td {
        min-width: 28px;
      }

      &.odd {
        td:nth-child(odd) {
          background-color:#e8e8e8;
        }

        td:first-child {
          background: transparent;
        }
      }

      &.even {
        td:nth-child(odd) {
          background-color:#e2e2e2;
        }

        td:first-child {
          background: transparent;
        }
      }
    }
  }
}
