<ion-view view-title="Items" cache-view="false">
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <h2 class="title welcome-title">{{program.name}}</h2>
  </div>
  <ion-content class="has-header">
    <div class="text-header">General rotation</div>
    <div class="text-header subheader">Add item
      <a ui-sref="menu.organization.program.item.edit({ itemId: 'new' })">
        <i class="icon ion-android-add"></i>
      </a>
    </div>
    <div class="padding">
      <program-items-list-table items="items" disabled="false"></program-items-list-table>
    </div>
    <ion-list ng-if="!items.length">
      <ion-item class="item-sad" >
        <div class="main-content odd">
          <div class="text-center">Nothing yet added</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
