@import '../../../styles/modules/base';
//$assetsDir: '../../../assets';

// general
.sdn-sign-up {
  background-color: $color-background-shade;
  font-family: $sans-serif-primary;

  @include placeholder {
    font-family: $sans-serif-primary;
    font-size: 1em;
  }

  .button {
    font-family: $sans-serif-primary;
  }
}

.sdn-sign-up-or {
  position: relative;
  font-size: 15px;
  width: 80%;
  margin: 0 auto;
  text-align: center;

  &:before {
    content: "";
    display: block;
    border-top: solid 1px $panache-darken;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  span {
    position: relative;
    z-index: 5;
    color: $white;

    &:after {
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -4;
      position: absolute;
      display: block;
      background: $color-accent;
      border-radius: 100%;
      height: 35px;
      width: 35px;
    }

  }
}

.sdn-sign-up-logo-image-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 30px;

  & > img {
    width: 45%;
    height: auto;
  }
}

// form
.sdn-sign-up-form {
  & > div {
    margin: 0 35px;

    &:first-of-type {
      margin: 49px 35px 12px;
    }

    &:last-of-type {
      margin-top: 5px;
    }
  }

  label {
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 0 0 15px;
  }

  @include placeholder {
    font-weight: 300;
  };
}

.sdn-sign-up-form-email {
  @include placeholder {
    color: $color-accent;
  }

  label {
    border: 1px solid $color-accent;
  }
}

.sdn-sign-up-form-password {
  @include placeholder {
    color: $color-text-weak;
  }

  label {
    border: 1px solid $color-text-weak;
    background-color: transparent;
  }
}

.sdn-sign-up-form-remember {
  @extend %clearfix;
  margin-top: 5px;
  color: $color-text-weak;

  label {
    display: block;
    line-height: 17px;
    float: left;
    padding: 0 8px 0 15px;
  }

  span {
    float: right;
    display: block;
    line-height: 17px;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
  }
}

input.sdn-sign-up-form-email-input {
  //background: url($assetsDir + '/images/user.png') 1% 50% no-repeat;
  background-size: 16px 16px;
  padding-left: 30px;
}

input.sdn-sign-up-form-password-input {
  //background: url($assetsDir + '/images/pass.png') 1% 50% no-repeat;
  background-size: 14px 16px;
  padding-left: 30px;
}

// form end
.sdn-sign-up-btn-wrapper {
  padding: 35px 30px;

  .button {
    min-height: 0;
    line-height: 36px;
    font-family: $sans-serif-primary;
    font-weight: 300;

    &:first-child,
    &:last-child,
    & {
      border-radius: 0;
    }

    &.button-stable {
      background-color: transparent;
      border: 1px solid $color-secondary;
      color: $fern-green;
    }
  }

}

.sdn-sign-up-submit-btn {
  padding: 0 35px;
}

.sdn-sign-up-facebook-btn {
  padding: 10px 25px;

  .button {
    min-height: 0;
    line-height: 29px;
    font-size: 0.8em;
    border-radius: 0;
    font-weight: 300;
  }

  .sdn-sign-up-facebook-btn-img {
    display: inline-block;
    vertical-align: middle;

    img {
      padding: 9px 0 0;
      max-width: 30%;
    }
  }
}

.sdn-sign-up-subfooter {
  padding-top: 0;

  .title {
    text-align: center;
    color: $color-additional;
    font-size: 0.8em;
    font-family: $sans-serif-primary;
    font-weight: 400;
  }

  .bottom-text span {
    text-decoration: underline;
  }
}
