<ion-view class="sdn-sign-up" view-title="Dashboard" cache-view="false">
  <ion-content class="padding">
    <div class="sdn-sign-up-logo-image-wrapper">
      <img src="assets/images/logo.png">
    </div>

    <div class="button-bar sdn-sign-up-btn-wrapper">
      <button class="button" ng-click="isSignUp = true" ng-class="{'button-positive': isSignUp, 'button-stable': !isSignUp}">Sign Up</button>
      <button class="button" ng-click="isSignUp = false" ng-class="{'button-positive': !isSignUp, 'button-stable': isSignUp}">Sign In</button>
    </div>

    <h1 class="sdn-sign-up-or">
      <span>OR</span>
    </h1>

    <form class="sdn-sign-up-form" name="signUpForm" autocomplete="off">
      <div class="list sdn-sign-up-form-email" ng-class="{'has-error':signUpForm.username.$error.required && !signUpForm.username.$pristine}">
        <label class="item item-input">
          <input type="email" id="username" placeholder="Username/Email" class="sdn-sign-up-form-email-input" name="username" ng-model="user.username" required>
        </label>
        <span style="color:red;margin-top:5px;" ng-show="signUpForm.username.$error.required && !signUpForm.username.$pristine" class="help-block">Please enter username/email.</span>
      </div>

      <div class="list sdn-sign-up-form-password">
        <label class="item item-input" for="password">
          <input type="password"
            class="sdn-sign-up-form-password-input"
            placeholder="Password"
            name="password"
            ng-model="user.password"
            ng-minlength="6"
            ng-maxlength="16"
            required>
        </label>

        <span style="color:Red" class="msg" ng-show="signUpForm.password.$dirty && signUpForm.password.$error.minlength">Password must contain atleast 6 charecters</span>
        <span style="color:red;margin-top:5px;" ng-show="!signUpForm.password.$error.required && !signUpForm.password.$error.minlength && !signUpForm.password.$error.maxlength && signUpForm.password.$error.pattern && signUpForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        <span style="color:Red" class="msg" ng-show="signUpForm.password.$dirty && signUpForm.password.$error.maxlength">Max-length of password reached</span>
      </div>

      <!-- <div class="list sdn-sign-up-form-remember">
        <input type="checkbox" id="remember" ng-model="remember">
        <label for="remember">Remember Me</label>
        <span>Forgot Your Password?</span>
      </div> -->
    </form><!-- /sdn-sign-up-form -->

    <div class="sdn-sign-up-submit-btn" ng-if="isSignUp">
      <button class="button button-block button-positive" ng-disabled="signUpForm.$invalid" ng-click="signUp(user)">
        Sign Up
      </button>
    </div>

    <div class="sdn-sign-up-submit-btn" ng-if="!isSignUp">
      <button class="button button-block button-positive" ng-disabled="signUpForm.$invalid" ng-click="signIn(user)">
        Sign In
      </button>
    </div>

    <div class="bar-subfooter bar-positive sdn-sign-up-subfooter">
      <h3 class="title bottom-text">If you are a new user then SignUp
      </h3>
    </div>
  </ion-content>
</ion-view>
