// Variables

// Color Palette
// http://chir.ag/projects/name-that-color/
// http://sass-lang.com/styleguide/color/

  // Brand colors
  $panache: #F0F8EE;
  $panache-darken: darken($panache, 5);
  $sprout: #B2CD9C;
  $sushi: #76A845;
  $fern-green: #49853E;
  $salem: #096B34;

  $blue-bayoux: #4E5F70;
  $river-bed: #435261;

  $concrete: #F3F3F3;
  $gallery: #ECECEC;
  $mercury: #E8E8E8;
  $alto: #DDD;
  $silver: #C3C3C3;
  $gray-chateau: #9CA4AB;
  $dusty-gray: #9A9A9A;
  $oslo-gray: #898E91;
  $shuttle-gray: #606366;

  $charm: #D87585;

  $white: #FFF;
  $black: #000;

  $sandwisp: #F5F5A6;
  $beryl-green: #CEE2BD;

  // For usage
  $color-primary: $sprout;
  $color-secondary: $sushi;
  $color-additional: $salem;
  $color-accent: $blue-bayoux;

  $color-background: $white;
  $color-background-shade: $panache;

  $color-text-main-heading: $white;
  $color-text-heading: $color-accent;

  $color-text-strong: $shuttle-gray;
  $color-text: $oslo-gray;
  $color-text-weak: $dusty-gray;
  $color-text-active: $color-primary;

  $color-bg-line: $silver;
  $color-bg-phase-label: $concrete;

  // Menu
  $color-border-menu-item: $shuttle-gray;
  $color-bg-menu: $river-bed;

  // validation
  $color-error-msg: $charm;

// Fonts
   // Font families
  $font-fallback: Arial, sans-serif;
  $MriadProLight: 'MyriadProLight', $font-fallback;
  $Signika: 'Signika', $font-fallback;
  $MyriadProregular: 'myriad_proregular', $font-fallback;
  $MyriadPro: 'Myriad Pro', $font-fallback;
  $MyriadProSemibold: 'MyriadProSemibold', $font-fallback;
  $Roboto: 'Roboto', $font-fallback;
  $OpenSans: 'Open Sans', $font-fallback;
  $Cabin: 'Cabin', $font-fallback;

  // For usage
  $sans-serif-primary: $OpenSans;
  $sans-serif-secondary: $Cabin;
  $font-family-bar-header: $sans-serif-secondary;
  $font-family-text-header: $sans-serif-secondary;

// Directories
$assetsDir: '../assets';
