<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">Help & Feedback</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap">
    <ul class="list">
      <li class="item item-padd">
        <div class="text-header">Help</div>
        <ul class="sdn-help-list">
          <li class="item" ui-sref="menu.faq">FAQ</li>
          <li class="item" ui-sref="menu.quickStart">Quick Start</li>
          <li class="item" ui-sref="menu.support">Support</li>
          <li class="item" ui-sref="menu.termsAndConditions">Terms & Conditions</li>
          <li class="item" ui-sref="menu.about">About</li>
        </ul>
      </li>
      <li class="item item-padd">
        <div class="text-header">Leave Feedback</div>
        <ul class="sdn-help-list">
          <li class="item" ui-sref="menu.contact">Contact Us</li>
          <li class="item" ui-sref="menu.becomeCoach">Become a Coach</li>
        </ul>
      </li>
    </ul>
  </div>
</ion-content>
