@import '../../../styles/modules/base';
$assetsDir: '../../../assets';

.sdn-help-and-feedback-content-wrap {

  .text-header {
    font-size: 0.963em;
  }

  .item-text-wrap {
    padding: 0;
  }

  .sdn-help-list .item {
    padding: 1em 1em 1em 0;
    font-size: 0.9em;
    border: 1px solid $color-bg-line;
    border-left: 0;
    background-color: transparent;
    color: $color-text-strong;

    &:first-child {
      border-top: 0;
    }
  }

  .sdn-help-list {
    margin: 0 0 0 2em;
  }

  & > .list > .item {
    &:last-of-type {
      border: none;
    }

    &:last-of-type .sdn-help-list {
        padding: 0 0 1px 0;
    }
  }
}
