<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">{{program.name}}</div>
  </div>
</ion-header>

<ion-content class="has-header sdn-programs-view">
  <div class="sadhana-text-header">
    <span>Details</span>
  </div>
  <div class="FAQ Quick_start week paypal">
    <div class="item item-text-wrap">
      <div class="cal-padd">
        <dl>
          <dt>Category</dt>
          <dd>{{program.category | programCategoriesFilter}}</dd>
        </dl>
      </div>
      <div class="video-container text-center" ng-if="program.videoIntroFilename">
        <video controls class="video_content" video-src="program.videoIntroFilename">
          <source type="video/mp4">
        </video>
      </div>
      <div class="item item-text-wrap has-header">
        <div class="text-header">Description</div>
        <div class="content_s">{{program.description || 'No description'}}</div>
      </div>
      <div class="item item-text-wrap has-header">
        <div class="text-header">General rotation</div>
        <div class="padding">
          <program-items-list-table items="items" disabled="true"></program-items-list-table>
        </div>
        <div class="next-btn">
          <button class="button button-block button-positive" ng-click="subscribe()">Join</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
