<ion-view>
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="menu.organization.program.items"></button>
    <h2 class="title">{{program.name}}</h2>
  </div>

  <ion-content class="has-header">
    <div class="sadhana-text-header">
      <span>General rotation</span>
    </div>

    <form name="itemForm" class="list cus-list sdn-form sdn-form-validate">
      <label class="item item-input item-stacked-label item-select">
        <span class="input-label">Selected Item<sup>*</sup></span>
        <div class="select">
          <select ng-options="type.value as type.value for type in types" name="selectedItem" ng-model="item.type" required>
            <option disabled selected value="">Choose item type</option>
          </select>
        </div>
        <span class="error-msg" ng-show="!itemForm.selectedItem.$pristine && itemForm.selectedItem.$error.required">Select item type</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title<sup>*</sup></span>
        <input type="text" placeholder="Title" ng-model="item.title" name="title" required>
        <span class="error-msg" ng-show="!itemForm.title.$pristine && itemForm.title.$error.required">Cannot be blank</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Pick up Start time<sup>*</sup></span>
        <input type="time" ng-model="item.startTime" name="startTime" required>
        <span class="error-msg" ng-show="!itemForm.startTime.$pristine && itemForm.startTime.$error.required">Start time is required</span>
        <span class="error-msg" ng-show="itemForm.startTime.$dirty && itemForm.startTime.$invalid && itemForm.startTime.$dirty">Start time is invalid</span>
      </label>
      <label class="item item-input item-stacked-label" ng-if="item.type === 'DND'">
        <span class="input-label">Pick up End time</span>
        <input type="time" ng-model="item.endTime" name="endTime">
        <span class="error-msg" ng-show="itemForm.endTime.$invalid && itemForm.endTime.$dirty">End time is invalid</span>
        <span class="error-msg" ng-show="itemForm.startTime.$dirty && itemForm.startTime.$valid && itemForm.endTime.$valid && item.startTime > item.endTime">End time cannot be before start time</span>
      </label>

      <div class="recurring-option">
        <recurring-select recurring-option="item.recurringOption" select="selectRecurringOption({option: option})"></recurring-select>
        <day-select days="item.recurringWeekDay" set-day="setDay({days: days})" max-selected="1"></day-select>
        <div class="next-btn">
          <button class="button button-block button-positive" ng-click="submit(item)" ng-disabled="itemForm.$invalid || !item.recurringWeekDay || item.recurringOption !== 'WEEKLY'">Next</button>
        </div>
      </div>

    </form>
  </ion-content>
</ion-view>
