@import '../../../../styles/modules/base';

.ion-arrow-left-c {
  font-size: 1.6em;
  color: #fff;
  padding: 5px 10px;
}

.sadhana-text-header {
  background-color: $color-primary;
  padding: 11px 0 11px 14px;
}

.sadhana-text-header span {
  font-size: 1.1em;
  color: $color-accent;
}

.select-item {
  background-color: #fff;
  padding: 11px 0 10px 15px;
  border-bottom: 1px solid $alto;
}

.select-item span {
  font-size: 1.1em;
  color: $color-accent;
}

.radio-list li {
  display: inline-block;
  width: 32%;
}

.radio-list label {
  font-size: 1em;
}

.light-color {
  background-color: $mercury;
}

.dark-color {
  background-color: $alto;
}

.grey-color {
  background-color: $color-accent;
  color: $white;
}

.next-btn {
  padding: 0 55px;
}

.next-btn > .button {
  min-height: 0;
  line-height: 36px;
  font-family: $sans-serif-primary;
}

.title-content {
  padding: 13px;
  background-color: $concrete;
}

.ion-compose {
  float: right;
  font-size: 1.3em;
  padding: 0 14px 0 0;
  margin-right: 10px;
}

.label-title label {
  font-size: 1.1em;
  color: $color-accent;
}

.input-label {
  font-size: 1.1em;
}

.c-switch-tog {
  width: 114px;
}

.c-switch-tog .sp-label {
  font-size: 1em;
}

.c-switch-tog .switch-handle {
  top: 4px;
  left: 4px;
}

.c-switch-tog .switch-input:checked ~ .switch-handle {
  left: 74px;
}

.sel-intog {
  padding: 10px;
  font-weight: 600;
}

.tog-pos {
  height: 50px;
  position: relative;
}

.recurring-option {
  .sadhana-text-header {
    margin-bottom: 15px;
  }
}
