<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">{{program.name}}</div>
  </div>
</ion-header>

<ion-content class="sdn-programs-join has-header">
  <div class="">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">Category</div>
        <div class="content_s">{{program.category | programCategoriesFilter}}</div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Program setup walkthrough</div>
        <div class="content_s">{{program.description || 'No description'}}</div>
      </li>
      <li class="item item-text-wrap">
        <div class="table-week">
          <table id="t01">
            <tr>
              <th>General</th>
              <th ng-repeat="day in weekDays">{{day.name}}</th>
            </tr>
            <tr ng-repeat="hour in hours">
              <td>{{hour.hour}}:00</td>
              <td ng-repeat="day in weekDays">
                <i ng-repeat="item in hour.items[day.value]" class="sdn-icon" icon-class item-type="item.type"
                  ui-sref="menu.program.notification({ itemId: item.id })" ng-class="{'custom-notification': item.customNotification }"></i>
              </td>
            </tr>
          </table>
        </div>
      </li>
      <li class="next-btn">
        <button class="button button-block button-positive" ui-sref="menu.programs.search({ tab: 'active' })">Next</button>
      </li>
    </ul>
  </div>
</ion-content>
