<div class="week-day text-center">
  <ul>
    <div ng-repeat="day in $ctrl.weekDays">
      <li ng-click="$ctrl.select(day.value)" ng-class="{ 'active': $ctrl.isSelected(day.value) }">{{day.name}}</li>
    </div>
  </ul>
</div>
