@import '../../../../../styles/modules/base';

.week-day {
  display: block;
  padding: 0;
  margin-bottom: 25px;

  ul {
    display: block;
    padding: 0 25px;

    div {
      display: inline-block;
      width: 14.285%;
    }
  }

  li {
    display: inline-block;
    border-radius: 50%;
    color: $blue-bayoux;
    border: 1px solid $oslo-gray;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;

    &.active {
      background-color: $color-accent;
      border-color: $color-accent;
      color: $white;
    }
  }
}
