<ion-content class="has-header">
  <div class="fill-text row">
    <span>Attach all the necessary documents and files for the subscribers</span>
  </div>
  <div class="sadhana-text-header">
    <span>Details</span>
  </div>
  <form name="organizationForm" class="list caoch-ad-mb sdn-form">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Description<sup>*</sup></span>
      <textarea rows="7" col="10" placeholder="Description" ng-model="organization.description"></textarea>
    </label>
    <label class="item item-input item-stacked-label documents-label">
      <span class="input-label">Documents</span>
    </label>
    <div class="attatch-fol">Attatch all the necessary documents and files</div>
    <div class="att-icon" ng-click="uploadDocs()"><i class="icon ion-android-add"></i></div>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item class="document item-sad home-slide-mt" ng-repeat="document in documents | orderBy : 'id' : true">
        <div ng-if="document.added">
          <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
            <a class="item-avatar" ng-click="openDoc(document.filename)">
              <div class="sdn-icon sdn-icon-list" icon-class item-type="'CHECKLIST'"></div>
              <div class="mid-content">
                <h3>{{document.name}}</h3>
                <p>{{document.description}}</p>
              </div>
            </a>
          </div>
          <ion-option-button class="button button-positive home-slide-btn" ng-click="openDoc(document.filename)">View</ion-option-button>
          <ion-option-button class="button button-positive home-slide-btn" ng-click="deleteDoc(document.id)">Delete</ion-option-button>
        </div>
        <div ng-if="!document.added">
          <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
            <a class="item-avatar">
              <div class="sdn-icon sdn-icon-list" icon-class item-type="'CHECKLIST'"></div>
              <div class="mid-content">
                <input type="text" ng-model="document.name" name="filename" placeholder="Filename" required>
                <textarea ng-model="document.description" placeholder="Description"></textarea>
              </div>
            </a>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-sad" ng-if="!documents.length">
        <div class="main-content odd">
          <div class="text-center">No documents added</div>
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <div class="bar bar-footer pagintn three">
    <div class="pagintion">
      <div class="line drk-grey"></div>
      <ul class="pagn">
        <li class="dot"></li>
        <li class="dot drk-grey"></li>
        <li class="dot"></li>
      </ul>
    </div>
  </div>
  <div class="bar bar-subfooter sub-f-btn">
    <div class="sub-button">
      <button class="button button-block button-positive" ng-click="submit(organization)">Submit</button>
    </div>
  </div>
</ion-footer>
