<ion-view>
  <ion-header>
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-arrow-left-c" ng-click="goBack($event)"></button>
      <h2 class="title welcome-title">{{organizationId === 'new' ? 'Create' : 'Edit'}} Organization</h2>
    </div>
  </ion-header>
  <ion-nav-view></ion-nav-view>
</ion-view>
