// Common

// general
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, fieldset,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: $sans-serif-primary;
}

body {
  font-weight: 400;
  color: $color-text-strong;
  font-size: 14px;
  background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1,
h2 {
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  margin: 5px 0 2em;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
  }
}

label input + span {
  transition: border-color 0.2s ease;
}

// others
.logo {
  text-align: center;
  margin-top: 10px;

  img {
    width: 30%;
  }
}

form.form-with-footer {
  margin-bottom: 100px;
}

.btn-group {
  margin: 10px 0;
}

.text-header,
.text-header-white,
.sadhana-text-header span  {
  color: $color-text-heading;
  font-size: 1.1em;
  font-family: $font-family-text-header;
  font-weight: 400;
}

.item {
  color: $color-accent;
}

.item .content_s {
  padding: 10px;
  line-height: 25px;
  font-size: 0.9em;
  font-family: $sans-serif-primary;
  font-weight: 400;
  text-align: justify;
  color: $color-text-strong;
}

.subheader {
  background: $concrete;
  padding: 15px 10px;
  font-size: 1.1em;
}

.text-header.subheader {
  background: $concrete;
}

.video-container {
  margin: 20px;
  video {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

.bar-header .title {
  font-family: $font-family-bar-header;
  font-weight: 500;
  color: $color-text-main-heading;
}

.text-header {
  background-color: $color-primary;

  &.list {
    margin-bottom: 0;
  }
}

.item.text-header,
.text-header,
.text-header-white {

  padding: 12px 10px;

  span {
    font-size: 1.3em;
    color: $color-accent;
  }
}

.text-header-white {
  background-color: $white;
}

// global overwrite ionic styles
.item {
  padding: 0;

  span {
    line-height: 25px;
    font-size: 0.9em;
    color: $color-text;
    color: $color-accent;
  }
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
  background-color: $color-background;
}

.pane, .view {
  background-color: $color-background;
}

.ion-android-menu {
  font-size: 2em;
  color: $white;
  padding: 5px 10px;
}

.ion-ios-telephone-outline {
  font-size: 1.9em;
  color: $white;
}

.ion-chatbubbles {
  font-size: 1.9em;
  color: $white;
}

.ion-ios-email-outline {
  font-size: 1.9em;
  color: $white;
}

.item-complex .item-content {
  padding: 0;
}

.tab-content .item.item-sad {
  padding: 3px 0 0;
}

.ion-android-add {
  float: right;
  font-size: 1.5em;
  padding-right: 3px;
}

.ion-ios-arrow-right {
  font-size: 1.2em;
}

// global overwrite ionic styles end

ion-option-button::before {
  //font-size: 1.5em;
}

.mid-content {
  max-width: 95%;
  padding-left: 80px;
  padding-bottom: 10px;
}

.mid-content h3 {
  color: $color-text-strong;
  font-size: 0.9em;
  text-align: left;
  font-weight: 400;
  overflow: initial;
}

.mid-content p {
  color: $color-text;
  font-size: 0.8em;
  white-space: normal;
  line-height: 18px;
}

.item-avatar {
  padding-left: 0;

  & > img:first-child {
    top: 12px;
    left: 16px;
    max-width: 45px;
    max-height: 45px;
  }
}

.item .main-content {
  white-space: initial;
}

.main-content {
  padding-top: 14px;
  position: relative;
}

.main-content a {
  text-decoration: none;
}

.odd {
  background-color: $white;
}

.even {
  background-color: $color-bg-phase-label;
}

.main-content {
  min-height: 70px;
}

.cus-list > label:nth-child(odd) {
  background-color: $white;

  .select select {
    background-color: $white;
  }
}

.cus-list > label:nth-child(even) {
  background-color: $color-bg-phase-label;
}

.cus-text {
  padding: 12px 21px;
  line-height: 27px;
  font-size: 1em;
  color: $color-text;
  word-spacing: 1px;
}

.cus-radio {
  padding: 0 0 10px 60px;
}

.cus-radio-list {
  color: $color-accent;
  font-size: 1em;
}

.cus-list {
  input {
    font-size: 0.9em;
    background: transparent;
    color: $color-text;
  }

  @include placeholder {
    color: $color-text-weak;
  }
}

.left-icon {
  font-size: 1.6em;
}

// tab screens

.tab-content .search,
.tab-content ul {
  padding: 0;
  margin: 0;
}

.tab-screens .tab-bg {
  background-color: #ececec;
}

.tab-screens .tab-item,
.tabs-striped .tab-item.tab-item-active {
  border-left: 1px solid $white;
  font-family: $sans-serif-secondary;
  font-size: 1.05em;
  color: $color-text-weak;
}

.tab-screens .tabs-top.tabs-striped .tab-item.active {
  border-width: 0 0 4px 0 !important; // in ionic file _tabs.scss is !important
  border-color: $color-primary;
  color: $color-text-strong;
}

.tab-content .item {
  padding: 12px 10px;
  border-width: 0 0 1px 0;
  border-color: $concrete;
}

.tab-content .ion-compose {
  padding: 0;
}

.search input {
  width: 100%;
  max-width: 100%;
  color: $color-text;
}

.tab-content .item-input-inset {
  padding: 10px 0;
}

.tab-content .item-input-wrapper {
  border-radius: 0;
}

.tab-content .search i {
  font-size: 1.5em;
  color: $color-text-weak;
}

.tab-content .text-tt {
  margin: 0 0 20px;
  font-size: 0.906em;
  color: $color-text;
}

.tab-content::-webkit-input-placeholder {
  font-size: 0.95em;
}

.tab-content:-moz-placeholder {
  font-size: 0.95em;
}

.tab-content::-moz-placeholder {
  font-size: 0.95em;
}

.tab-content:-ms-input-placeholder {
  font-size: 0.95em;
}

.img-t {
  display: inline-block;
  width: 25%;
}

.text-t {
  display: inline-block;
  width: 72%;
  text-align: right;
  font-size: 0.88em;
}

.tab-content img {
  max-width: 100%;
}

// tab screens end

//=======================
.list .item {
  border-style: none;
}

.table-week table {
  width: 100%;
}

.table-week table,
td,
th {
  border: 1px solid $white;
  border-collapse: collapse;
}

.table-week td:first-child {
  width: 17%;
}

.table-week td,
.table-week th {
  padding: 10px 5px;
  text-align: center;
  font-size: 0.7em;
  width: 10%;
}

.table-week td {
  padding: 6px;
}

.table-week td i {
  font-size: 1.5em;
  color: $color-primary;
}

.table-week table#t01 tr:nth-child(even) {
  background-color: $concrete;
}

.table-week table#t01 tr:nth-child(odd) {
  background-color: $white;
}

.table-week table#t01 th {
  background-color: $mercury;
  color: $color-accent;
  font-size: 0.7em;
}

.table-week {
  padding: 0 10px 10px;
}

.text-f {
  margin: 20px 10px 10px;
  font-size: 0.9em;
  font-family: $sans-serif-secondary;
}

.cal-padd {
  padding: 0 2em;
}

.video_s img {
  width: 100%;
  max-width: 95%;
  height: auto;
}

.form-label1 .input-label {
  width: 153px;
}

.input-label {
  padding: 5px 10px 15px;
}

.form-label1.item span {
  font-size: 0.8em;
}

.tabs-striped .tabs {
  background-color: $gallery;
  background-image: none;
  border: none;
  border-bottom: 1px solid $alto;
  padding-top: 2px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active {
  border-width: 0 0 4px 1px !important; // because in ionics _tabs.scss is !important
}

.tabs-striped .tab-item.activated,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.tab-item-active {
  border-bottom-color: $color-primary;
  color: $color-text-strong;
}

.tab-nav.tabs .tab-item:first-of-type {
    border-left: none;
}

/*-----------------------------------usadhna-program 1 & 2 ------------------------*/
.week-a li:nth-child(even) {
  background: $concrete;
}

.week-a li:nth-child(odd) {
  background: $gallery;
}

.week-name:nth-child(odd) {
  background: $mercury;
}

.week-name {
  display: inline-block;
  width: 20px;
  text-align: center;
  padding: 10px 0;
}

.week-a .item-name {
  font-size: 0.8em;
}

.item-name {}

.img-p-text {
  display: inline-block;
  width: 50%;
}

.week-d {
  display: inline-block;
  width: 50%;
}

.bar.bar-subfooter.sub-b .next-btn .button-block {
  margin: 0;
  border: 0;
}

.bar.bar-subfooter.sub-b {
  padding: 0;
  border: 0;
}

.bar.bar-subfooter.sub-b .next-btn {
  display: block;
  width: 100%;
}

.bar.bar-subfooter.sub-b {
  background-size: 0;
}
/*-----------------------------------user-toggling ------------------------*/
.todo .help {
  margin: 10px;
}

.help-feedback.todo .help .item {
  padding: 1em;
  margin: -1px;
  border-right: 0;
}

.help-feedback .help.im .item {
  padding: 0.9em 8px;
}
/*----------------------------------- pagination ------------------------*/
.pagintion {
  width: 100%;
  padding: 0 29px;
  text-align: center;
  position: relative;
}

.line {
  width: 245px;
  height: 5px;
  background-color: $color-bg-line;
  position: absolute;
  top: 28%;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: $silver;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
}

.dot:first-child {
  margin: 0 20px 0 0;
}

.dot:last-child {
  margin: 0 0 0 20px;
}

.pagintion ul {
  margin: 0;
  position: relative;
}

.drk-grey {
  background: $color-accent;
}

.bar-footer.pagintn {
  background-position: bottom;
  height: 50px;
}

.icon-cc {
  padding-top: 10px;
}

.select select {
  background: $concrete;
  width: 100%;
  color: $color-text-weak;
}

.item-select:after {
  visibility: hidden;
}

.item-select.item-stacked-label .select select {
  margin: 0 0 10px 4px;
}

.colr select {
  background: $white;
}

.wb {
  background: $white;
  padding: 20px 10px 10px;
}

.coach1 .mid-content h3 {
  font-size: 0.84em;
  overflow: visible;
  white-space: normal;
}

.mt23 {
  margin: 5px 0 23px;
}

.org .camera-folder-btn {
  text-align: right;
  margin: 2px 10px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.picture {
  padding: 17px 55px;
  display: inline-block;
  background: url($assetsDir + '/images/picture.png') 45% 50% no-repeat;
  background-size: 25px 25px;
  border: 1px solid $color-secondary;
}

.padd0 {
  padding: 0;
}

.text-org {
  padding: 10px 15px;
  color: $color-text-strong;
  line-height: 22px;
  font-size: 1.09em;
  font-family: $sans-serif-secondary;
  opacity: 0.6;
}

.attatch {
  padding: 10px;
  color: $color-text-strong;
  font-size: 1.1em;
  font-family: $sans-serif-secondary;
  line-height: 22px;
}

.creatn .camera-folder-btn {
  display: block;
}

.creatn textarea {
  background: transparent;
}

.creatn .cus-list > label.f3 {
  background: $concrete;
}

.creatn .cus-list > label.f3 i {
  padding: 0 10px 0 0;
}

.attatch-img {
  background: url($assetsDir + '/images/attatch.png') 45% 50% no-repeat;
  padding: 17px 55px;
  display: inline-block;
  background-size: 25px 25px;
  border: 1px solid $color-secondary;
}

.three .line {
  width: 168px;
  top: 35%;
}

.bar-subfooter.sub-f-btn {
  bottom: 50px;
  height: 48px;
  padding: 5px;
  background-size: 100% 0;
}

.sub-button {
  width: 100%;
  padding: 0 55px;
}

.bar.sub-f-btn button {
  min-height: 35px;
  font-size: 1em;
  font-family: $sans-serif-secondary;
  margin: 0;
}
/*------------------------------------Active Tab----------------------*/
div.marB.list {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 0;
}
/******************************Extra*****************************************************/
.brand-logotype .video-folder-btn {
  margin-top: 10px;
}

.edit-bor-bot {
  border-bottom: 3px solid #b2ce9d;
}

.edit-bor-bot button {
  //background-color: #9c1b1;
  padding: 0 10px;
  min-height: 28px;
  line-height: 13px;
  float: right;
  vertical-align: top;
  margin: -5px 10px;
}

.radio-select-div .radio-list ul li {
  width: 100%;
  display: block;
}

.radio-select-div {
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-left: 35%;
}

.rmbr {
  padding: 0 10px;
  position: relative;
  margin-top: 8px;
}

.rmbr-text {
  font-weight: bold;
}

.l-s-data div label:hover,
.rmbr-text:hover {
  color: #349dd7;
}

.background {
  background-color: #349dd7;
}
/********************15-09-2016******************************/
.home-slide-btn {
  // color: #fff;
  // font-size: 1.3em;
  // font-weight: 600;
  //min-width: 120px;
}

.home-slide-mt .item-content {
  margin-top: -3px;
}

.coach-video-divv label {
  display: inline-block;
  width: 45%;
}

.coach-video-divv .video-folder-btn {
  display: inline-block;
  vertical-align: middle;
}

.coach-video-divv .video-folder-btn .video {
  padding: 17px 38px;
}

.coach-video-divv .video-folder-btn .camera {
  padding: 17px 38px;
}

.coach-video-divv .video-folder-btn .folder {
  padding: 17px 38px;
}

.sdn-form.caoch-ad-mb {
  margin-bottom: 100px;
}

.sp-label {
  border-radius: 0;
  border: 1px solid #76a845;
  font-size: 1.2em;
}

.toggle-select-div {
  position: absolute;
  z-index: 99;
  right: 14px;
  top: 50%;
  transform: translate(0, -50%);

  .switch {
    position: static;
    border: 1px solid $color-secondary;
    border-radius: 0;
    padding: 0;

    .switch-handle {
      top: 0;
      left: 0;
      width: 49px;
      height: 31px;
    }

    .switch-label:after {
      left: 15px;
      opacity: 1;
      color: $white;
      z-index: 100;
    }

    .switch-label:before {
      right: 15px;
      color: $color-accent;
    }

    .switch-input:checked ~ .switch-label {
      background: transparent;
    }

    .switch-input:checked ~ .switch-handle {
      left: 48px;
    }

    .switch-input:checked ~ .switch-label:before {
      opacity: 1;
      color: $white;
      z-index: 1000;
    }

    .switch-input:checked ~ .switch-label:after {
      opacity: 1;
      color: $color-accent;
      z-index: 1000;
    }

  }
}

.attatch-fol {
  vertical-align: top;
  display: inline-block;
  width: 83%;
  padding: 10px;
  color: #a9aaab;
  font-size: 0.9em;
  font-family: $sans-serif-secondary;
  line-height: 22px;
}

.att-icon {
  display: inline-block;
  width: 15%;
  margin-top: 12px;
}

.brand-logotype label {
  font-weight: 600;
}

.m-b-coach {
  margin-bottom: 150px;
}

.draft-cont {
  padding: 10px;
}

.draft-cont-d1 {
  padding: 10px 0;
}

.draft-cont-d2 {
  line-height: 24px;
}

.brand-right {
  text-align: right;
  //padding-right: 10px;
}

.font-weightbold {
  font-weight: 600;
}

.as-per-txt {
  padding: 10px;
  line-height: 22px;
}

.week-day-mon {
  padding: 10px;
  background: $mercury;
}

.sp-handle {
  background: $color-accent;
}
