// Custom inputs

[type="checkbox"] {
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #aab6b8;
}

input[type="radio"] {
  display: none;
  + span {
    background-color: #fefefe;
    border: 1px solid;
    border-color: #000;
    border-radius: 50px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 11px;
    position: relative;
    -webkit-appearance: none;
  }

  &:checked + span {
    color: #f00;
  }

  &:checked + span:after {
    background: $color-accent;
    border-radius: 50px;
    // box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.75), inset -1px -1px 1px rgba(0, 0, 0, 0.75);
    content: " ";
    height: 18px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 18px;
  }

  &:disabled + span {
    background: $silver;
  }
}

label:hover input[type="radio"] + span {
  border-color: #000;
}
