// Form
.sdn-form {
  .input-label {
    font-weight: 600;
  }

  .item {
    padding: 10px 14px;
    min-height: 70px;
    border-style: none;

    input {
      padding: 0;
      color: $color-accent;
    }

    textarea {
      height: 70px;
      background-color: transparent;
      color: $color-accent;

      &:focus {
        background-color: $white;
      }
    }
  }
}

input::placeholder, textarea::placeholder {
  color: $gray-chateau;
}

.sdn-form-validate {
  .error-msg {
    color: $color-error-msg;
    font-size: .9em;
  }
}
