// Icons

.sdn-icon {
  width: 18px;
  height: 18px;
  font-size: 1.4em;
  background-size: 18px;
  background-repeat: no-repeat;

  &.phrase,
  &.checklist,
  &.dnd {
    background: url($assetsDir + '/images/bag.png');
    background-size: 18px;
    background-repeat: no-repeat;
  }

  &.audio {
    background: url($assetsDir + '/images/volume.png');
    background-size: 18px;
    background-repeat: no-repeat;
  }

  &.video {
    background: url($assetsDir + '/images/video-sa.png');
    background-size: 18px;
    background-repeat: no-repeat;
  }

  &.image {
    background: url($assetsDir + '/images/pic.png');
    background-size: 18px;
    background-repeat: no-repeat;
  }

  &.sdn-icon-list {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 2em;
  }
}

.sdn-mic {
  padding: 17px 55px;
  display: inline-block;
  background: $color-accent url($assetsDir + '/images/mic.png') 45% 50% no-repeat;
  background-size: 21px 26px;
  border: 1px solid $color-accent;
}

.sdn-video {
  padding: 17px 55px;
  display: inline-block;
  background: $color-accent url($assetsDir + '/images/video.png') 45% 50% no-repeat;
  background-size: 24px 17px;
  border: 1px solid $color-accent;
}

.sdn-camera {
  padding: 17px 55px;
  display: inline-block;
  background: $color-accent url($assetsDir + '/images/camera.png') 45% 50% no-repeat;
  background-size: 23px 20px;
  border: 1px solid $color-accent;
}

.sdn-folder {
  padding: 17px 55px;
  display: inline-block;
  background: url($assetsDir + '/images/folder.png') 45% 50% no-repeat;
  background-size: 25px 25px;
  border: 1px solid $color-secondary;
  margin-left: -4px;
}

input.sdn-sign-up-form-email-input {
  background: url($assetsDir + '/images/user.png') 1% 50% no-repeat;
}

input.sdn-sign-up-form-password-input {
  background: url($assetsDir + '/images/pass.png') 1% 50% no-repeat;
}
