// Switch

.switch {
  position: absolute;;
  display: inline-block;
  vertical-align: top;
  width: 97px;
  height: 32px;
  padding: 3px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  right:10px;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: transparent;
  border-radius: inherit;
  transition-property: opacity background;
  border: 1px solid transparent;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #000;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #000;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #fff;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 30px;
  background: $color-accent;
  border-radius: 2px;
  transition: left 0.15s ease-out;
  border-radius: 0;
}

.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.switch-input:checked ~ .switch-handle {
  left: 60px;
}
