// Tables

table.table-stripe {
  width: 100%;
  color: $color-accent;


  tr:nth-child(even)  {
    background-color: #f0f0f0;
  }

  tr:nth-child(odd)  {
   background-color: #f7f7f7;
  }


  tr.odd td:first-child, .even td:first-child {
    background: transparent;
  }

  tr {
    td  {
      border: 0;
      border-collapse: collapse;
      text-align: center;
      font-size: 12px;
      width: 10px;
      padding: 10px 0px;
      vertical-align: middle;
    }

    td:nth-child(1) {
      width: 10%;
      text-align: left;
      padding: 8px;
    }

    td:nth-child(2) {
      width: 75%;
      text-align: left;
      font-size: 14px;
    }

    &.odd {
      td:nth-child(odd) {
        //background-color:#e8e8e8;
      }

      td:first-child {
        background: transparent;
      }
    }

    &.even {
      td:nth-child(odd) {
        //background-color:#e2e2e2;
      }

      td:first-child {
        background: transparent;
      }
    }
  }
}
