@import '../modules/base';

.item tags-input .tags span {
  color: $white;
  font-weight: bold;
}

tags-input {
  .autocomplete {
    position: relative;
  }

  .tags .tag-item {
    background: $blue-bayoux;
    .remove-button {
      color: $white;
    }
  }
}
