<div class="program-item-resources-edit-checklist">
  <div class="item text-header-white item-icon-right wb">
    Add Item<i class="icon ion-android-add" ng-click="add()"></i>
  </div>
  <form class="list list-inset">
    <div class="item row" ng-repeat="item in resource.checklistItems">
      <div class="col col-10">{{$index + 1}}.</div>
      <div class="col col-80">
        <input type="text" ng-model="item.text" placeholder="Checklist item" on-enter="onEnter()" required>
      </div>
      <div class="col col-10"><i class="icon ion-trash-a" ng-click="removeItem(item)"></i></div>
    </div>
  </form>
</div>
