<div class="program-item-resources-view-checklist">
  <div class="list list-inset">
    <div class="item row" ng-repeat="item in resource.checklistItems">
      <div class="col col-10">{{$index + 1}}.</div>
      <div class="col col-70">
        {{item.text}}
      </div>
      <div class="col col-20">
        <input type="checkbox" ng-model="item.checked">
      </div>
    </div>
  </div>
</div>
