<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">Terms & conditions</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap Quick_start help-and-feedback-terms-and-conditions">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">Terms of Service</div>
        <div class="content_s">Vendet consulting LTD. ("sadana.co") websites (collectively, the "Website"), all other products and services, including mobile applications, owned, controlled or offered by Sadana Planner, and all content offered as part thereof, are collectively referred to herein as the "Services." Subscribers, account holders, customers, users, and others who access, use, and/or subscribe to the Services (the "User" or "you") are required to agree to the following terms and conditions (the "Terms of Service"). Your use of the Services, constitutes your acceptance of and agreement to all of the terms and conditions in the Terms of Service and the Privacy Policy. The Terms of Service govern your use of the Services and are a condition to your use of the Services. If you object to anything in these Terms of Service and the Privacy Policy, you are not permitted to use the Services. BEFORE USING ANY SERVICES, PLEASE READ CAREFULLY THE FOLLOWING TERMS OF SERVICE. NEITHER SADANA.CO THE SERVICES PROVIDE MEDICAL ADVICE. THE CONTENTS OF THE SERVICES, SUCH AS TEXT, GRAPHICS, IMAGES, INFORMATION AND COACHING SERVICES OBTAINED FROM USERS OF THE SERVICES, LICENSORS, AND OTHER MATERIAL CONTAINED ON THE SERVICES (THE "CONTENT") ARE FOR INFORMATIONAL PURPOSES ONLY. THE CONTENT IS NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. ALWAYS SEEK THE ADVICE OF YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER WITH ANY QUESTION YOU MAY HAVE REGARDING A MEDICAL CONDITION. IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR DOCTOR OR 911 IMMEDIATELY. NEVER DISREGARD, AVOID OR DELAY IN OBTAINING MEDICAL ADVICE FORM YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH CARE PROVIDER BECAUSE OF SOMETHING YOU HAVE READ ON THE SERVICES. SADANA.CO DOES NOT RECOMMEND OR ENDORSE ANY SPECIFIC TESTS, PHYSICIAN, PRODUCTS, PROCEDURES, OPINIONS, OR OTHER INFORMATION THAT MAY BE MENTIONED ON THE SERVICES. RELIANCE ON ANY INFORMATION PROVIDED BY SADANA.CO. SADANA.CO EMPLOYEES, PARTNERS, OTHER USERS OF THE SERVICES IS SOLELY AT YOUR OWN RISK. BY ACCESSING, BROWSING AND/OR USING THE SERVICES, YOU AGREE THAT YOU ARE SOLELY RESPONSIBLE FOR ANY HABITS YOU MAY CHOOSE TO PURSUE USING THE SERVICES AND SADANA.CO DOES NOT WARRANT ANY HABITS LISTED ON THE SERVICES, NOR DOES IT RECOMMEND OR ENDORSE ANY PARTICULAR HABIT BY LISTING SUCH HABIT ON THE SERVICES. WE HAVE NO OBLIGATION TO REVIEW OR MODIFY USER POSTINGS ON THE SERVICES OR OTHER CONTENT AND IN ALL INSTANCES, IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, TIMELINESS, COMPLETENESS, OR USEFULNESS OF THE CONTENT. UNDER NO CIRCUMSTANCES WILL SADANA.CO BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON ANY CONTENT. YOU FURTHER ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY ALL THE TERMS, CONDITIONS, CONSENTS AND DISCLOSURES SET FORTH IN THE TERMS OF SERVICE, THE PRIVACY POLICY, THE APPLICABLE GUIDELINES SET FORTH ON THE WEBSITE, AND THE APPLICABLE END USER LICENSE AGREEMENT (IF ANY) FOR ANY MOBILE APPS YOU DOWNLOAD. IF YOU DO NOT AGREE TO THE TERMS OF SERVICE, THE PRIVACY POLICY, THE APPLICABLE GUIDELINES AND/OR THE APPLICABLE END USER LICENSE AGREEMENT (IF ANY), THEN PLEASE CEASE USING THE SERVICES IMMEDIATELY. ALL THE SERVICES ARE AVAILABLE ONLY FOR INDIVIDUALS AGED 13 YEARS OR OLDER. IF YOU ARE 13 OR OLDER BUT UNDER THE AGE OF 18, OR THE LEGAL AGE OF MAJORITY WHERE YOU RESIDE IF THAT JURISDICTION HAS AN OLDER AGE OF MAJORITY, THEN YOU AGREE TO REVIEW THESE TERMS OF SERVICE WITH YOUR PARENT OR GUARDIAN TO MAKE SURE THAT BOTH YOU AND YOUR PARENT OR GUARDIAN UNDERSTAND AND AGREE TO THESE TERMS OF SERVICE. YOU AGREE TO HAVE YOUR PARENT OR GUARDIAN REVIEW AND ACCEPT THESE TERMS OF SERVICE ON YOUR BEHALF. IF YOU ARE A PARENT OR GUARDIAN AGREEING TO THESE TERMS OF SERVICE FOR THE BENEFIT OF A CHILD OVER 13, THEN YOU AGREE TO AND ACCEPT FULL RESPONSIBILITY FOR THAT CHILD'S USE OF THE SERVICES, INCLUDING ALL FINANCIAL CHARGES AND LEGAL LIABILITY THAT HE OR SHE MAY INCUR.</div>

      <div class="text-header">PRIVACY</div>
        <div class="content_s">Please refer to the Privacy Policy available at https://www.sadana.co/privacy-policy for information and notices about how sadana.co collects, uses and shares your personally identifiable information in connection with the Services.</div>

      <div class="text-header">GENERAL TERMS AND CONDITIONS</div>
        <div class="content_s">sadana.co reserves the right, in its sole discretion, to modify, discontinue or terminate the Services or to modify these Terms of Service at any time and without prior notice. If sadana.co amends these Terms of Service, it will update this posting on the Website and specify the effective date of the new version of the Terms of Service. Your continued use of the Services following the posting of a new version of the Terms of Service shall constitute your acceptance of any such amendments. Accordingly, you should check to see if a new version of the Terms of Service has been posted each time you use the Services. If the amended Terms of Service are not acceptable to you, your only recourse is to cease using the Services.</div>

      <div class="text-header">SERVICES ONLY PROVIDE A VENUE</div>
        <div class="content_s">The Services include, among other things, a platform which enables communication and connections between Users. Users providing information and advice ("Coaching Services" and each User providing Coaching Services a "Coach") to connect with Users seeking information and advice ("Clients" and collectively with Coaches, each a "User") Each Client is solely responsible for selecting an, Organization, a Coach and the Coaching Programs. Any decision by a Client to receive Coaching Services, and any decision by a Coach to provide Coaching Services, is a decision made in such User's sole discretion. Sadana Planner is not responsible for the performance of Users, nor does it have control over the quality, suitability, reliability, durability, timing, legality, failure to provide, Content, acts or omissions, or any other aspect whatsoever of Users, including the Coaching Services provided by Coaches. Sadana Planner makes no representations or warranties whatsoever with respect to any aspect, including accreditation, registration or licensing, of any Coach, the Coaching Services or the Content requested and provided by Users through the Services whether in public, private, or offline interactions. You understand that Sadana Planner does not routinely screen its Users, inquire into the background of its Users or attempt to verify information provided by any User. Sadana Planner does not verify or confirm that any User is who they claim to be or is accurately representing themselves and does not verify or confirm any representations with respect to Coaching Services offered by Coaches through the Services. Sadana Planner does not assume any responsibility for the accuracy or reliability of this information or any information provided through the Services.</div>

      <div class="text-header">MODIFICATION OF TERMS OF SERVICE AND/OR SERVICES</div>
        <div class="content_s">sadana.co reserves the right, in its sole discretion, to modify, discontinue or terminate the Services or to modify these Terms of Service at any time and without prior notice. If sadana.co amends these Terms of Service, it will update this posting on the Website and specify the effective date of the new version of the Terms of Service. Your continued use of the Services following the posting of a new version of the Terms of Service shall constitute your acceptance of any such amendments. Accordingly, you should check to see if a new version of the Terms of Service has been posted each time you use the Services. If the amended Terms of Service are not acceptable to you, your only recourse is to cease using the Services.</div>

      <div class="text-header">RELEASE A BETA VERSION</div>
        <div class="content_s">By using the Website or Services, you agree that any legal remedy or liability that you seek to obtain for actions or omissions of other Users or other third parties will be limited to a claim against the particular User or third party who caused you harm. You agree not to attempt to impose liability on or seek any legal remedy from Sadana Planner with respect to such User or third party's actions or omissions. THE SERVICES ARE ONLY A VENUE FOR CONNECTING USERS. BECAUSE Sadana Planner IS NOT INVOLVED IN THE ACTUAL COMMUNICATIONS BETWEEN USERS OR IN THE ARRANGEMENTS BETWEEN USERS, IN THE EVENT YOU HAVE A DISPUTE WITH ONE OR MORE USERS, YOU RELEASE Sadana Planner (AND OUR OFFICERS, DIRECTORS, AGENTS, INVESTORS, SUBSIDIARIES AND EMPLOYEES) FROM ANY AND ALL CLAIMS, DEMANDS, OR DAMAGES (ACTUAL OR CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN OR UNKNOWN, SUSPECTED OR UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES.</div>

      <div class="text-header">ARRANGEMENTS BETWEEN COACHES AND USERS</div>
        <div class="content_s">A Coach and a User may enter into an arrangement for the Coach to provide Coaching Services to the User through the Services (an "Arrangement"). Coaches and Users will use the features of the Services to enter into Arrangements. Any Arrangement you enter into is between you and the other User, and Sadana Planner is not a party thereto. If you are a Coach, you acknowledge and agree that you are solely and fully responsible for any and all Content you post and publish in your Coach Profile and any and all Coaching Services you provide to Clients through the Services. Accordingly, you represent and warrant that your Coaching Services and any Content you post and provide (i) will not breach any agreements you have entered into with any third parties, including obligations of confidentiality, and (ii) will (a) be in compliance with all applicable laws rules and regulations that may apply, (b) be truthful, accurate and not misleading, and (c) not conflict with the rights of third parties. A User may terminate an Arrangement that it is a party to at any time by using the features of the Services and such termination will be effective immediately. Upon termination of an Arrangement, any pre-paid Coach Payments (as defined below) will not be refunded or otherwise provided back to Client. sadana.co assumes no responsibility for Users' compliance with or fulfillment of any Arrangements with other Users, including early termination of an Arrangement by a User, or duties to third parties, or compliance with applicable laws, rules and regulations. sadana.co does not endorse any Coach, Client, Coaching Service or Content.</div>

      </li>
    </ul>
  </div>
</ion-content>
