@import '../../../../../styles/modules/base';
$assetsDir: '../../../../../assets';

.program-edit {

}

$borderWidth: 3px;

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: $blue-bayoux;
  display: inline-block;
  cursor: pointer;
  padding: 5px 13px;
  font-weight: bold;
}

input[type=radio]:checked + label{
  color: $white;
  background: $blue-bayoux;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $blue-bayoux;
}

.radio-group {
  border: solid $borderWidth $blue-bayoux;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
}
