<ion-content class="has-header program-edit">
  <div class="row fill-text">
    <span class="col-75">Please fill out the fields</span>
    <button class="col button button-assertive button-small sdn-delete-btn" ng-if="programId !== 'new'" ng-click="remove()">Delete</button>
  </div>
  <div class="sadhana-text-header">
    <span>Details</span>
  </div>
  <form name="forms.programForm" class="cus-list form-with-footer sdn-form">
    <label class="item item-input item-stacked-label welcome-style">
      <span class="input-label">Program Name<sup>*</sup></span>
      <input type="text" placeholder="Program Name" ng-model="program.name" required>
    </label>
    <label class="item item-input item-stacked-label item-select">
      <span class="input-label">Category</span>
      <div class="select">
        <select ng-options="category.code as category.name for category in categories" ng-model="program.category">
          <option disabled selected value="">Choose category</option>
        </select>
      </div>
    </label>
    <label class="item item-input item-stacked-label welcome-style">
      <span class="input-label">Subcategory keywords</span>
      <tags-input type="text" placeholder="Keyword" ng-model="tags" on-tag-added="onChange()" on-tag-removed="onChange()" bind-internal-input-to>
        <auto-complete source="autoCompleteTags" min-length="1" max-results-to-show="5"></auto-complete>
      </tags-input>
    </label>
    <label class="item item-input item-stacked-label f3">
      <span class="input-label">Description</span>
      <textarea placeholder="Overall program description " ng-model="program.description"></textarea>
    </label>
    <label class="item item-input item-stacked-label welcome-style">
      <span class="input-label">Language</span>
      <input type="text" placeholder="Select program language, english by default" disabled>
      <div class="toggle-select-div">
        <!-- <label class="switch">
          <input type="checkbox" class="switch-input" ng-model="english" ng-change="updateLanguage(english)">
          <span class="switch-label sp-label" data-on="EN" data-off="SP"></span>
          <span class="switch-handle sp-handle"></span>
        </label> -->

        <div class="radio-group">
         <input ng-model="program.languageCode" type="radio" id="lang-en" name="lang-selector" value="EN" checked><!--
      --><label for="lang-en">EN</label><!--

      --><input ng-model="program.languageCode" type="radio" id="lang-sp" name="lang-selector" value="SP"><!--
      --><label for="lang-sp">ES</label>
        </div>

      </div>
    </label>
    <label class="item item-input item-stacked-label welcome-style">
      <span class="input-label">Subscription Password</span>
      <input type="password" placeholder="Password restriction (optional)">
    </label>
    <div class="item item-input item-stacked-label welcome-style">
      <div class="brand-logotype">
        <span class="input-label">Brand or Organization Logotype</span>
        <div class="video-folder-btn brand-right">
          <button class="sdn-camera" ng-click="upload({ services: ['CONVERT', 'WEBCAM'] }, 'logoFilename')"></button>
          <button class="sdn-folder" ng-click="upload({ services: ['CONVERT', 'COMPUTER'] }, 'logoFilename')"></button>
        </div>
      </div>
      <div class="logo">
        <img ng-src="{{program.logoFilename || 'assets/images/logo.png'}}">
      </div>
    </div>
    <div class="item item-input item-stacked-label welcome-style">
      <div class="brand-logotype">
        <span class="input-label">Introductory Video</span>
        <div class="video-folder-btn brand-right">
          <button class="sdn-video" ng-click="upload({ services: ['VIDEO'], mimetypes: ['video/*'] }, 'videoIntroFilename')"></button>
          <button class="sdn-folder" ng-click="upload({ services: ['COMPUTER', 'GOOGLE_DRIVE', 'DROPBOX', 'BOX', 'URL', 'VIDEO'], mimetypes: ['video/*'] }, 'videoIntroFilename')"></button>
        </div>
      </div>
    </div>
    <div class="video-container text-center" ng-if="program.videoIntroFilename">
      <video controls class="video_content" video-src="program.videoIntroFilename">
        <source type="video/mp4">
      </video>
    </div>
  </form>
</ion-content>
<ion-footer>
  <div class="bar bar-footer pagintn three">
    <div class="pagintion">
      <div class="line"></div>
      <ul class="pagn">
        <li class="dot drk-grey"></li>
        <li class="dot"></li>
        <li class="dot"></li>
      </ul>
    </div>
  </div>
  <div class="bar bar-subfooter sub-f-btn">
    <div class="sub-button">
      <button class="button button-block button-positive" ui-sref="menu.organization.program.edit.step2" ng-disabled="forms.programForm.$invalid">Next</button>
    </div>
  </div>
</ion-footer>
