<ion-content class="has-header">
  <div class="sadhana-text-header">
    <span>Settings</span>
  </div>
  <div class="cus-text">
    Choose your preferred weekly schema e.g. last week of initial messages, 1st week more tasks to do and 3rd and on as fully weekly tasks setup.
  </div>
  <div class="cus-radio">
    <ul>
      <li>
        <label class="cus-radio-list">
          <input type="radio" ng-model="program.rotationScheme" name="rotationScheme" value="WEEKLY" checked> <span></span> Weekly rotation
        </label>
      </li>
      <li>
        <label class="cus-radio-list">
          <input type="radio" ng-model="program.rotationScheme" name="rotationScheme" value="WEEKLY_WARM_UP" disabled checked> <span></span> Weekly rota + warm-up week
        </label>
      </li>
      <li>
        <label class="cus-radio-list">
          <input type="radio" ng-model="program.rotationScheme" name="rotationScheme" value="WEEKLY_TWO_WARM_UP" disabled checked> <span></span> Weekly rota + 2warm-up week
        </label>
      </li>
    </ul>
  </div>
  <div class="sadhana-text-header">
    <span>Pricing</span>
  </div>
  <div class="cus-text">
    Choose whether the program will be of free access or not. Pricing should be applied based on location.
  </div>
  <div class="cus-radio">
    <ul>
      <li>
        <label class="cus-radio-list">
          <input type="radio" ng-model="program.pricingScheme" name="pricingScheme" value="FREE" checked> <span></span> Free
        </label>
      </li>
      <li>
        <label class="cus-radio-list">
          <input type="radio" ng-model="program.pricingScheme" name="pricingScheme" disabled value="MONTHLY" checked> <span></span> Monthly
        </label>
      </li>
    </ul>
  </div>
</ion-content>
<ion-footer>
  <div class="bar bar-footer pagintn three">
    <div class="pagintion">
      <div class="line"></div>
      <ul class="pagn">
        <li class="dot"></li>
        <li class="dot drk-grey"></li>
        <li class="dot"></li>
      </ul>
    </div>
  </div>
  <div class="bar bar-subfooter sub-f-btn">
    <div class="sub-button">
      <button class="button button-block button-positive" ng-click="submit(program)">Submit</button>
    </div>
  </div>
</ion-footer>
