@import '../../../../styles/modules/base';
$assetsDir: '../../../../assets';

.user-profile {
  select {
    display: block
  }

  .item {
  }
}

.welcome-btn {
  padding: 44px 60px;
}

.welcome-btn > .button {
  min-height: 0;
  line-height: 36px;
  font-family: $MyriadProSemibold;
}

.menu-icon {
  font-size: 1.6em;
}

.menu-icon h2 {
  font-size: 1.1em;
}

.fill-text {
  padding: 11px 14px 9px 14px;
  font-size: 1.2em;
  color: #a9aaab;
}

.fill-text span {
  font-size: 0.9em;
}

.welcome-title {
  font-size: 1.2em;
}

.ion-navicon {
  font-size: 1.3em;
  font-size: 1.8em;
  padding: 5px 0 0 8px;
}

.welcome-style {
  color: $color-text-strong;
}

sup {
  font-size: 100%;
  top: -0.1em;
}
