<ion-view view-title="Dashboard" cache-view="false" class="user-profile">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h2 class="title welcome-title">{{showWelcomeHeader ? 'Welcome On Board!!' : 'Settings'}}</h2>
  </div>
  <ion-content class="has-header">
    <div class="fill-text">
      <span>Please fill out the following fields</span>
    </div>
    <div class="sadhana-text-header">
      <span>Details</span>
    </div>
    <form name="userProfileForm" class="list cus-list sdn-form sdn-form-validate">

      <label class="item item-input item-stacked-label welcome-style"
      ng-class="{'has-error': userProfileForm.firstName.$error.required && !userProfileForm.firstName.$pristine}">
        <span class="input-label">First name<sup>*</sup></span>
        <input type="text" id="firstName" placeholder="First name or Nickname" name="firstName" ng-model="user.firstName" required>
        <span class="error-msg" ng-show="userProfileForm.firstName.$error.required && !userProfileForm.firstName.$pristine">Please enter first name.</span>
      </label>

      <label class="item item-input item-stacked-label welcome-style"
      ng-class="{'has-error': userProfileForm.lastName.$error.required && !userProfileForm.lastName.$pristine}">
        <span class="input-label">Last name<sup>*</sup>
        </span>
        <input type="text" id="lastName" placeholder="Last name" name="lastName" ng-model="user.lastName" required>
        <span class="error-msg" ng-show="userProfileForm.lastName.$error.required && !userProfileForm.lastName.$pristine">Please enter last name.</span>
      </label>

      <label class="item item-input item-stacked-label small"
      ng-class="{'has-error': userProfileForm.gender.$error.required && !userProfileForm.gender.$pristine}">
        <span class="input-label">Gender</span>
        <div class="select">
          <select ng-model="user.gender" name="gender" class="text-grey">
            <option value="M" selected>Male</option>
            <option value="F">Female</option>
          </select>
        </div>
        <span class="error-msg" ng-show="userProfileForm.gender.$error.required && !userProfileForm.gender.$pristine">Please select gender.</span>
      </label>

      <label class="item item-input item-stacked-label"
      ng-class="{'has-error': userProfileForm.dateOfBirth.$error.required && !userProfileForm.dateOfBirth.$pristine}">
        <span class="input-label">Date of Birth</span>
        <input type="date" id="dateOfBirth" ng-model="user.dateOfBirth" name="dateOfBirth">
        <span class="error-msg" ng-show="userProfileForm.dateOfBirth.$error.required && !userProfileForm.dateOfBirth.$pristine">Please select date of birth.</span>
      </label>

      <label class="item item-input item-stacked-label"
      ng-class="{'has-error': userProfileForm.countryCode.$error.required && !userProfileForm.countryCode.$pristine}">
        <span class="input-label">Country</span>
        <input type="text" id="country" placeholder="Country" ng-model="user.countryCode" name="countryCode">
        <span class="error-msg" ng-show="userProfileForm.countryCode.$error.required && !userProfileForm.countryCode.$pristine">Please select country.</span>
      </label>

      <label class="item item-input item-stacked-label"
      ng-class="{'has-error': userProfileForm.cityCode.$error.required && !userProfileForm.cityCode.$pristine}">
        <span class="input-label">City</span>
        <input type="text" id="city" placeholder="City" ng-model="user.cityCode" name="cityCode">
        <span class="error-msg" ng-show="userProfileForm.cityCode.$error.required && !userProfileForm.cityCode.$pristine">Please select city.</span>
      </label>

      <label class="item item-input item-stacked-label"
      ng-class="{'has-error': userProfileForm.tel.$error.required && !userProfileForm.tel.$pristine}">
        <span class="input-label">Telephone</span>
        <input type="text" id="phone" placeholder="Telephone" ng-model="user.phone" name="phone" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/">
        <span class="error-msg" ng-show="userProfileForm.phone.$error.required && !userProfileForm.phone.$pristine">
          Please enter telephone.
        </span>
        <span class="error-msg" ng-show="userProfileForm.phone.$error.number || userProfileForm.phone.$error.pattern">
          Valid phone number is required.
        </span>
        <span class="error-msg" ng-show="((userProfileForm.phone.$error.minlength || userProfileForm.phone.$error.maxlength) && userProfileForm.phone.$dirty)">
          Phone number should be 10 digits.
        </span>
      </label>

      <div class="welcome-btn">
        <button class="button button-block button-positive" type="submit" ng-disabled="userProfileForm.$invalid" ng-click="submit(user)">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
