@import '../../../../../../styles/modules/base';

.search-results {
  margin: 15px;
}

// TODO Move to general tab styles after style refactoring
.tab-position {
  top: 93px;
  position: absolute;
  width: 100%;
}
