<ion-content>
  <div class="has-header tab-position">
    <div class="search-results">Results for {{resultsText}}</div>
    <div class="text-header">Programs</div>
    <div class="content-tabs">
      <ion-list show-delete="false" can-swipe="true">
        <ion-item class="item-sad home-slide-mt" ng-repeat="program in results">
          <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
            <a class="item-avatar" ui-sref="menu.program.view({ programId: program.id })">
              <img ng-src="{{program.logoFilename || 'assets/images/logo.png' | convertImage}}">
              <div class="mid-content">
                <h3>{{program.name}}</h3>
                <p>{{program.description | limitWordsTo: 15}}</p>
              </div>
            </a>
          </div>
          <ion-option-button class="button button-positive">call</ion-option-button>
          <ion-option-button class="button button-positive">chat</ion-option-button>
          <ion-option-button class="button button-positive">email</ion-option-button>
        </ion-item>
        <ion-item class="item-sad" ng-if="!results.length">
          <div class="main-content odd">
            <div class="text-center">No programs found for {{resultsText}}</div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
