<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">Support</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap Quick_start help-and-feedback-support">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">We are based in London, United Kingdom</div>
        <div class="content_s">Helpdesk and Support +44 203 290 3300. Email contact@sadana.co</div>
      </li>
    </ul>
</ion-content>
