<ion-header>
    <div class="org">
        <div class="bar bar-header bar-positive">
            <button class="button button-icon icon ion-navicon"></button>
            <h2 class="title welcome-title">Organization created</h2>
        </div>
</ion-header>
<ion-content class="has-header">
    <div class="org_creation">
        <div class="text-org">Congratulations ! Your new organization "{{organization.name}}"" has been created. </div>
        <div class="FAQ">
            <ul class="list">
                <li class="item item-text-wrap">
                    <div class="text-header">Instructions</div>
                    <div class="content_s font-weightbold">Now you’re ready to create programs within "{{organization.name}}"" and punish them online.</div>
                </li>
                <li class="item item-text-wrap">
                    <div class="content_s font-weightbold">You can always edit the organization by clicking on setting and then organization.</div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="bar bar-footer pagintn three">
        <div class="pagintion">
            <div class="line"></div>
            <ul class="pagn">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot drk-grey"></li>
            </ul>
        </div>
        <div class="bar bar-subfooter sub-f-btn">
            <div class="sub-button">
                <button class="button button-block button-positive" ui-sref="menu.organization.programs({ tab: 'active' })">Get Started !</button>
            </div>
        </div>
    </div>
</ion-footer>
