<div class="text-center btn-group" ng-if="!$ctrl.resource.url">
  <button class="{{$ctrl.config.uploadDeviceIcon}}" ng-click="$ctrl.upload($ctrl.config.uploadDevice)"></button>
  <button class="{{$ctrl.config.uploadFolderIcon}}" ng-click="$ctrl.upload($ctrl.config.uploadFolder)"></button>
</div>
<div class="item text-header-white" ng-if="$ctrl.resource.url">
  <div class="text-center padding">
    <div class="row">
      <div class="col col-10">
        <i class="sdn-icon" icon-class item-type="$ctrl.config.type"></i>
      </div>
      <div class="col col-80">
        <span>{{$ctrl.resource.url | lodashNameFilter}} updated at {{$ctrl.resource.updatedAt | amDateFormat : $ctrl.dateFormats.USER}}</span>
      </div>
      <div class="col col-10">
        <button class="button button-icon button-small icon ion-close-circled" ng-click="$ctrl.resetUrl()"></button>
      </div>
    </div>
  </div>
</div>
<div class="next-btn" ng-if="$ctrl.resource.url">
  <button class="button button-block button-positive" ng-click="$ctrl.openLink($ctrl.resource.url)">Preview</button>
</div>
