<div>
  <div class="list phase-list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Title</span>
      <i class="ion-compose"></i>
      <input type="text" placeholder="R Nickname">
    </label>
  </div>
</div>
