<ion-view>
  <ion-header>
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-arrow-left-c" ng-click="goBack($event)"></button>
      <h2 class="title welcome-title">{{item.title}} notification time</h2>
    </div>
  </ion-header>
  <ion-content class="has-header">
    <form name="notificationForm" class="list cus-list">
      <div class="text-header">Set custom notification time</div>
      <div class="padding">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Suggested Time</span>
          <input type="time" ng-model="item.startTime" disabled>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Set your custom notification time</span>
          <input type="time" ng-model="notification.startTime" required>
        </label>
      </div>
      <div class="next-btn">
        <button class="button button-block button-positive" ng-click="submit(notification)" ng-disabled="notificationForm.$invalid">Save</button>
      </div>
      <div class="next-btn">
        <button class="button button-block button-positive" ng-click="reset()">Reset to default</button>
      </div>
    </form>
  </ion-content>
</ion-view>


