<ion-view view-title="resources" cache-view="false">
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <h2 class="title welcome-title">{{program.name}}</h2>
  </div>
  <ion-content class="has-header">
    <div class="text-header">Resources</div>
    <div class="padding">
      <ion-list show-delete="false" can-swipe="true">
        <ion-item class="item-sad home-slide-mt" ng-repeat="resource in resources">
          <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
            <a class="item-avatar" ui-sref="menu.program.resource({ itemId: resource.itemId, resourceId: resource.id })">
              <div class="sdn-icon sdn-icon-list" icon-class item-type="resource.type"></div>
              <div class="mid-content">
                <h3>{{resource.title}}</h3>
                <p>{{resource.publishDate | amDateFormat : dateFormat}}</p>
              </div>
            </a>
          </div>
          <ion-option-button class="button button-positive home-slide-btn" ng-click="remove(resource.id)">Delete</ion-option-button>
        </ion-item>
        <ion-item class="item-sad" ng-if="!resources.length">
          <div class="main-content odd">
            <div class="text-center">No resources added</div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
