<ion-view view-title="Programs" cache-view="false">
  <ion-header>
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-if="'menu.programs.search' | isState"></button>
      <button class="button-clear" ui-sref="menu.programs.search({ tab: 'join' })" ng-if="'menu.programs.searchResults' | isState">
        <i class="ion-arrow-left-c"></i>
      </button>
      <div class="title photo-title">Sadana Planner Lite</div>
    </div>
  </ion-header>
  <ion-tabs class="tabs-striped tabs-top tab-screens tab-bg" delegate-handle="programsListSubscriber">
    <ion-tab title="Join" ng-click="updateState({ tab: 'join' })">
      <ion-nav-view></ion-nav-view>
    </ion-tab>
    <ion-tab title="Active" ng-click="updateState({ tab: 'active' })">
      <ion-content class="tab-position">
        <div class="list text-header">Programs</div>
        <div class="content-tabs">
          <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item-sad home-slide-mt" ng-repeat="program in activePrograms">
              <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
                <a class="item-avatar" ui-sref="menu.program.resources({ programId: program.id })">
                  <img ng-src="{{program.logoFilename || 'assets/images/logo.png' | convertImage}}">
                  <div class="mid-content">
                    <h3>{{program.name}}</h3>
                    <p>{{program.description | limitWordsTo: 15}}</p>
                  </div>
                </a>
              </div>
              <ion-option-button class="button button-positive" ng-click="unsubscribe(program.id)">Unsubscribe</ion-option-button>
              <ion-option-button class="button button-positive" ng-click="pause(program.id)">Pause</ion-option-button>
              <ion-option-button class="button button-positive button" ui-sref="menu.program.join({ programId: program.id })">Edit</ion-option-button>
            </ion-item>
            <ion-item class="item-sad" ng-if="!programs.length">
              <div class="main-content odd">
                <div class="text-center">No active programs</div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ion-tab>
    <ion-tab title="On Hold" ng-click="updateState({ tab: 'onHold' })">
      <ion-content class="tab-position">
        <div class="list text-header">Programs</div>
        <div class="content-tabs">
          <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item-sad home-slide-mt" ng-repeat="program in holdPrograms">
              <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
                <a class="item-avatar" ui-sref="menu.program.resources({ programId: program.id })">
                  <img ng-src="{{program.logoFilename || 'assets/images/logo.png' | convertImage}}">
                  <div class="mid-content">
                    <h3>{{program.name}}</h3>
                    <p>{{program.description | limitWordsTo: 15}}</p>
                  </div>
                </a>
              </div>
              <ion-option-button class="button button-positive">Unsubscribe</ion-option-button>
              <ion-option-button class="button button-positive" ng-click="subscribe(program.id)">Resume</ion-option-button>
            </ion-item>
            <ion-item class="item-sad" ng-if="!holdPrograms.length">
              <div class="main-content odd">
                <div class="text-center">No programs on hold</div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
