<div class="item text-header-white sdn-resource-edit-phrase">
  <div class="padding">
    <span>Phrase Text</span>
    <i class="ion-compose pos"></i>
    <textarea placeholder="Phrase here" ng-model="resource.text" rows="5" required></textarea>
  </div>
  <div class="padding">
    <span>External URL</span>
    <i class="ion-compose pos"></i>
    <input type="text" placeholder="https://sample.com/your-resource" ng-model="resource.url">
  </div>
</div>
