 @import '../../../../../styles/modules/base';

.sdn-resource-edit-phrase {
  textarea,
  input {
    width: 100%;
    border: solid 1px $color-bg-line;

    &::placeholder {
      color: $color-bg-line;
    }
  }
}
