<div class="sadhana-text-header">
  <span>Recurrning Option</span>
</div>
<div class="recuring-container">
  <ul>
    <li ng-class-odd="'light-color'" ng-class-even="'dark-color'"
      ng-repeat="option in $ctrl.recurringOptions"
      ng-class="{ 'active': $ctrl.recurringOption === option.value, 'disabled': option.disabled }"
      ng-click="$ctrl.select({option: option.value})">
        {{option.name}}
    </li>
  </ul>
</div>
