@import '../../../../../styles/modules/base';

.recuring-container {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.recuring-container ul {
  display: block;
  padding: 0 25px;
  @extend %clearfix;

  li {
    float: left;
    padding: 13px 0;
    width: 33.33%;
    margin-bottom: 0;
    text-align: center;

    &.active {
      font-weight: bold;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}
