@import '../../../../../styles/modules/base';

.sdn-programs-list-coach-warp {
  .content-tabs {
    padding-bottom: 100px;
  }

  ion-list .list {
    padding-top: 0px;
  }
}

.sdn-programs-upload {
  .item.item-sad {
    padding: 0;
  }
}

.sdn-programs-button-arrow {
  min-height: 18px;
  line-height: 18px;

  &.icon.icon:before {
    font-size: 18px;
    line-height: 18px;
  }
}

.icon-column {
  width: 15%;
}

.tab-content .item.program-upload-tab {
  padding: 0;
}

.tab-content div:not(:first-child) > .item.program-upload-tab {
  border-top: solid 1px #898E91;
}

.day-tables {
  margin-bottom: 10px;

  &:last-of-type {
    //margin-bottom: 0;
  }
}

.sdn-date-nav {
  padding: 12px 10px;
  position: relative;
  top: 0;
  left: 0;
}

.program-upload-wrapper {
  margin-bottom: 45px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

table.table-stripe tr:nth-child(even).pending-item-res,
table.table-stripe tr:nth-child(odd).pending-item-res {
  background-color: $sandwisp;
}

table.table-stripe tr:nth-child(even).completed-item-res,
table.table-stripe tr:nth-child(odd).completed-item-res {
  background-color: $beryl-green;
}
