<ion-view view-title="Programs" cache-view="false">
  <ion-header>
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
      <div class="title photo-title">{{organizationName}}</div>
    </div>
  </ion-header>
  <ion-tabs class="sdn-programs-list-coach-warp tabs-striped tabs-top tab-screens tab-bg" delegate-handle="programsListCoach">
    <ion-tab title="Active" ng-click="updateState({ tab: 'active' })">
      <ion-content class="tab-position">
        <div class="content-tabs">
          <div class="list marB">
            <div class="item text-header-white item-icon-right wb">Add Program <i class="icon ion-android-add" ui-sref="menu.organization.program.edit.step1({ programId: 'new' })"></i>
            </div>
            <div class="item text-header">Programs</div>
          </div>
          <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item-sad home-slide-mt" ng-repeat="program in activePrograms">
              <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
                <a class="item-avatar" ui-sref="menu.organization.program.items({ programId: program.id })">
                  <img ng-src="{{program.logoFilename || 'assets/images/logo.png' | convertImage }}">
                  <div class="mid-content">
                    <h3>{{program.name}}</h3>
                    <p>{{program.description | limitWordsTo: 15}}</p>
                  </div>
                </a>
              </div>
              <ion-option-button class="button button-positive home-slide-btn" ui-sref="menu.organization.program.edit.step1({ programId: program.id })">edit</ion-option-button>
              <ion-option-button class="button button-positive home-slide-btn" ng-click="setPublish({ id: program.id, publish: false })">pause</ion-option-button>
            </ion-item>
            <ion-item class="item-sad" ng-if="!activePrograms.length">
              <div class="main-content odd">
                <div class="text-center">No active programs added</div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ion-tab>
    <ion-tab title="Draft" ng-click="updateState({ tab: 'draft' })">
      <ion-content class="tab-position">
        <div class="content-tabs">
          <div class="list marB">
            <div class="item text-header-white item-icon-right wb">Add Program <i class="icon ion-android-add" ui-sref="menu.organization.program.edit.step1({ programId: 'new' })"></i>
            </div>
            <div class="item text-header">Programs</div>
          </div>
          <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item-sad home-slide-mt" ng-repeat="program in inactivePrograms">
              <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
                <a class="item-avatar" ui-sref="menu.organization.program.items({ programId: program.id })">
                  <img ng-src="{{program.logoFilename || 'assets/images/logo.png' | convertImage}}">
                  <div class="mid-content">
                    <h3>{{program.name}}</h3>
                    <p>{{program.description | limitWordsTo: 15}}</p>
                  </div>
                </a>
              </div>
              <ion-option-button class="button button-positive home-slide-btn" ui-sref="menu.organization.program.edit.step1({ programId: program.id })">edit</ion-option-button>
              <ion-option-button class="button button-positive home-slide-btn" ng-click="setPublish({ id: program.id, publish: true })">publish</ion-option-button>
            </ion-item>
            <ion-item class="item-sad" ng-if="!inactivePrograms.length">
              <div class="main-content odd">
                <div class="text-center">No program drafts added</div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="Upload" ng-click="updateState({ tab: 'upload' })">
      <ion-content class="tab-position sdn-programs-upload">
        <div class="content-tabs">
          <div class="list marB">
            <div class="item text-header-white sdn-date-nav">
              <div class="text-center">
                <button class="button sdn-programs-button-arrow button-icon icon ion-arrow-left-b" ui-sref="menu.organization.programs({ date: (previousWeek | amDateFormat : dateFormats.DEFAULT) })"></button>
                {{ weekFrom | amDateFormat : dateFormats.USER}} - {{ weekTo | amDateFormat : dateFormats.USER}}
                <button class="button sdn-programs-button-arrow button-icon icon ion-arrow-right-b" ui-sref="menu.organization.programs({ date: (nextWeek | amDateFormat : dateFormats.DEFAULT) })"></button>
              </div>
            </div>
            <div class="item text-header">Programs</div>
          </div>
          <ion-list show-delete="false" can-swipe="true">
            <div class="program-upload-wrapper" ng-repeat="program in programs | filter : !program.items.length">
              <ion-item class="program-upload-tab">
                <div class="main-content odd">
                  <a class="item-avatar" ui-sref="menu.organization.program.items({ programId: program.id })">
                    <img ng-src="{{program.logoFilename || 'assets/images/logo.png' | convertImage}}">
                    <div class="mid-content">
                      <h3>{{program.name}}</h3>
                      <p>{{program.description}}</p>
                    </div>
                  </a>
                </div>
                <ion-option-button class="button button-positive">call</ion-option-button>
                <ion-option-button class="button button-positive">chat</ion-option-button>
                <ion-option-button class="button button-positive">email</ion-option-button>
              </ion-item>
              <div class="day-tables" ng-repeat="day in program.items track by $index">
                <div class="week-day-mon">
                  {{day.weekDay}} {{day.date | amDateFormat : dateFormats.USER}}
                </div>
                <table class="table-stripe">
                  <tr ng-repeat="item in day.items | orderBy : timeToNumber" ng-class-odd="'odd'" ng-class-even="'even'"
                      ng-class="getResource(item, day.date).id ? 'completed-item-res' : 'pending-item-res'"
                      ui-sref="menu.organization.program.item.resource.edit({
                          programId: program.id,
                          itemId: item.id,
                          resourceId: getResource(item, day.date).id || 'new',
                          publishDate: (day.date | amDateFormat : dateFormats.DEFAULT) })">
                    <td>
                      <div class="sdn-icon" icon-class item-type="item.type"></div>
                    </td>
                    <td>{{item.title}}</td>
                    <!-- <td class="icon-column">
                      <span class="sdn-icon {{getResource(item, day.date).id ? 'ion-android-checkbox-outline' : 'ion-android-checkbox-outline-blank'}}"></span>
                    </td> -->
                  </tr>
                </table>
              </div>
            </div>
          </ion-list>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
