<table class="table-stripe table-calendar">
  <tr ng-repeat="item in $ctrl.items" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="$ctrl.onClick($event)" ui-sref="menu.organization.program.item.edit({ itemId: item.id })">
    <td>
      <div class="sdn-icon" icon-class item-type="item.type"></div>
    </td>
    <td>{{item.title}}</td>
    <td ng-repeat="shortcut in item.recurringWeekDayShotcuts track by $index">
      {{ shortcut }}
    </td>
  </tr>
</table>
