<ion-content class="has-header">
  <div class="fill-text row">
    <span class="col-75">Please fill out the following fields</span>
    <button class="button button-assertive button-small sdn-delete-btn col" ng-if="organizationId !== 'new'" ng-click="remove()">Delete</button>
  </div>
  <div class="sadhana-text-header">
    <span>Details</span>
  </div>
  <form name="forms.organizationForm" class="list cus-list caoch-ad-mb sdn-form">
    <label class="item item-input item-stacked-label welcome-style">
      <span class="input-label">Name<sup>*</sup></span>
      <input type="text" name="name" placeholder="Name" ng-model="organization.name" required>
    </label>
    <label class="item item-input item-stacked-label item-select">
      <span class="input-label">Category</span>
      <div class="select">
        <select ng-options="category.code as category.name for category in categories" ng-model="organization.category">
          <option disabled selected value="">Choose category</option>
        </select>
      </div>
    </label>
    <label class="item item-input item-stacked-label item-select">
      <span class="input-label">Country</span>
      <div class="select">
        <input type="text" name="countryCode" ng-model="organization.countryCode">
      </div>
    </label>
    <label class="item item-input item-stacked-label item-select">
      <span class="input-label">City</span>
      <div class="select">
        <input type="text" name="cityCode" ng-model="organization.cityCode">
      </div>
    </label>
    <label class="item item-input item-stacked-label welcome-style">
      <span class="input-label">Tags</span>
      <tags-input type="text" placeholder="Keyword" ng-model="tags" on-tag-added="onChange()" on-tag-removed="onChange()" bind-internal-input-to>
        <auto-complete source="autoCompleteTags" min-length="1" max-results-to-show="5"></auto-complete>
      </tags-input>
    </label>
    <div class="item item-input item-stacked-label welcome-style">
      <div class="brand-logotype">
        <span class="input-label">Brand Logotype</span>
        <div class="video-folder-btn brand-right">
          <button class="sdn-camera" ng-click="uploadLogo({ services: ['CONVERT', 'WEBCAM'] })"></button>
          <button class="sdn-folder" ng-click="uploadLogo({ services: ['CONVERT', 'COMPUTER'] })"></button>
        </div>
      </div>
      <div class="logo">
        <img ng-src="{{organization.logoFilename || 'assets/images/logo.png' | convertImage}}">
      </div>
    </div>
  </form>
</ion-content>
<ion-footer>
  <div class="bar bar-footer pagintn three">
    <div class="pagintion">
      <div class="line"></div>
      <ul class="pagn">
        <li class="dot drk-grey"></li>
        <li class="dot"></li>
        <li class="dot"></li>
      </ul>
    </div>
  </div>
  <div class="bar bar-subfooter sub-f-btn">
    <div class="sub-button">
      <button class="button button-block button-positive" ui-sref="menu.organization.edit.step2" ng-disabled="forms.organizationForm.$invalid">Next</button>
    </div>
  </div>
</ion-footer>
