.sdn-resource-view-phrase {
  .resource-url {
    overflow: hidden;

    a {
      cursor: pointer;
      text-overflow: ellipsis;
      display: inline-block;
      width: calc(100% - 90px);
    }
  }
}
