<div class="item text-header-white sdn-resource-view-phrase">
  <div class="padding">
      <div class="item item-text-wrap">    
     {{resource.text}}  
    </div>
    <div ng-if="resource.url" class="resource-url">
      <span>Available link (if any) </span> <strong><a browse-to="{{resource.url}}">{{resource.url}}</a></strong>
    </div>
  </div>
</div>
