@import '../../../../styles/modules/base';
$assetsDir: '../../../../assets';

.contact {
  & > .list .item {
    border: none;
  }
}

.contact .contact-list  {
  .item {
    padding: 12px;
    font-size: 0.7em;
    border: 1px solid $alto;
  }
}

.contact .contact-list .item:first-child {
  font-size: 0.8em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid $gray-chateau;
}

.contact .contact-list {
  width: 65%;
  margin: 0 auto;
  padding: 20px 0 2px;
  font-family: $sans-serif-primary;
  font-weight: 300;
}

.contact .content_s {
  padding: 0 10px 10px;
}
