<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">Contact Us</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap contact">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">Send us a message</div>
        <div class="content_s">You can send us an email with regards to any query, question or concern you may have, our team will always be keen to give you a response as soon as they can. Please contact us at support@sadhana-planner.com</div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Suggestions box</div>
        <div class="content_s">We are in continuous development of further updates and features for the next releases and we'd love to hear from you about any suggestions or bugs/defects found in the App.</div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
