<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">Quick Start</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap Quick_start">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">Browse Programs</div>
        <div class="content_s">You can browse the available programs on the Join tab by clicking on the categories or use the search box in order to look for specific topics you are interested in.</div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Subscribe to a program</div>
        <div class="content_s">Once you find a program that fits your expectations, just simply click on it and go through the joining process that will follow through.</div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Try out fot free</div>
        <div class="content_s">Most programs are free and open, get advantage of this opportunity to test and try out as many programs with the best coaches and instructors in the world. Paid programs will be available soon with the best quality and the latest updates.</div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Limitations</div>
        <div class="content_s">Free subscribers will be limited up to one program at a time. Shortly there will be an option to upgrade to premium account so you can join more programs at once and track back past content.</div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Feedback</div>
        <div class="content_s">Leave us a comment or suggestion so we can improve our service more and more, we’re happy to listen to all of your requests.</div>
      </li>
    </ul>
  </div>
</ion-content>
