<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sdn-menu-content">
      <div>
        <ul class="list menu" ng-click="toggleLeft()">
          <a class="item item-icon-left" href="#/">
            <i class="icon ion-home"></i>
            <div class="menu-text">Home</div>
          </a>
          <a class="item item-icon-left" ui-sref="menu.organizations" ng-if="isCoach()">
            <!-- <i class="icon"><img src="assets/images/setting.png" style="width:30px; height:30px;"></i> -->
            <i class="icon ion-ios-briefcase-outline"></i>
            <div class="menu-text">Organizations</div>
          </a>
          <a class="item item-icon-left">
            <!-- <i class="icon"><img src="assets/images/premium.png" style="width:30px; height:30px;"></i> -->
            <i class="icon ion-ios-star-outline"></i>
            <div class="menu-text">Premium</div>
          </a>
          <a class="item item-icon-left" ui-sref="menu.userProfile">
            <!-- <i class="icon"><img src="assets/images/user-mm.png" style="width:30px; height:30px;"></i> -->
            <i class="icon ion-ios-gear-outline"></i>
            <div class="menu-text">Settings</div>
          </a>
          <a class="item item-icon-left" ui-sref="menu.helpAndFeedback">
            <!-- <i class="icon"><img src="assets/images/ques.png" style="width:30px; height:30px;"></i> -->
            <i class="icon ion-help"></i>
            <div class="menu-text">Help & Feedback</div>
          </a>
          <a class="item item-icon-left" ng-click="switchRole()" ng-if="isCoach()">
            <i class="icon ion-arrow-swap"></i>
            <div class="menu-text">Switch to {{isSwitchedToSubscriber() ? 'Coach' : 'Subscriber'}}</div>
          </a>
          <a class="item item-icon-left" ng-click="logout()">
            <!-- <i class="icon"><img src="assets/images/logout.png" style="width:30px; height:30px;"></i> -->
            <i class="icon ion-log-out"></i>
            <div class="menu-text">Logout</div>
          </a>
        </ul>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
