@import '../../../styles/modules/base';
$assetsDir: '../../../assets';

.menu .item .menu-text {
    padding: 1em 0px;
    border-top: 1px solid $color-border-menu-item;
    border-bottom: 1px solid $color-border-menu-item;
    margin: -1px;
    font-family: $sans-serif-primary;
    font-weight: 300;
}

.menu .item-icon-left {
    padding-left: 50px;
    padding-top: 3px;
}

.menu .list,
.menu .item {
    background: transparent;
    color: $white;
}

.menu .item {
  border: none;
}

.sdn-menu-content {
    background: $color-bg-menu;
}
