<ion-view view-title="Organizations" cache-view="false">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h2 class="title welcome-title">Organizations</h2>
  </div>
  <ion-content class="has-header">
    <div class="content-tabs tab-content">
      <div class="list marB">
        <div class="item text-header item-icon-right wb">Add Organization <i class="icon ion-android-add" ui-sref="menu.organization.edit.step1({ organizationId: 'new' })"></i>
        </div>
        <div class="item text-header">Organizations</div>
      </div>
      <ion-list show-delete="false" can-swipe="true">
        <ion-item class="item-sad home-slide-mt" ng-repeat="organization in organizations">
          <div class="main-content" ng-class-odd="'odd'" ng-class-even="'even'">
            <a class="item-avatar" ui-sref="menu.organization.programs({ organizationId: organization.id })">
              <img ng-src="{{organization.logoFilename || 'assets/images/logo.png' | convertImage}}">
              <div class="mid-content">
                <h3>{{organization.name || 'No organization name'}}</h3>
                <p>{{organization.description}}</p>
              </div>
            </a>
          </div>
          <ion-option-button class="button button-positive home-slide-btn" ui-sref="menu.organization.edit.step1({ organizationId: organization.id })">edit</ion-option-button>
        </ion-item>
        <ion-item class="item-sad" ng-if="!organizations.length">
          <div class="main-content odd">
            <div class="text-center">No organizations added</div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
