<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">About Us</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap Quick_start">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">Mission</div>
        <div class="content_s">Our mission is to provide knowledge and support to all the people who are taking a journey to personal development and spiritual growth, we are here to help them.</div>
      </li>
    </ul>
  </div>
</ion-content>
