<ion-header>
  <div class="bar bar-header bar-positive">
    <back-button></back-button>
    <div class="title photo-title">Become Coach</div>
  </div>
</ion-header>

<ion-content class="has-header">
  <div class="sdn-help-and-feedback-content-wrap Quick_start help-and-feedback-become-coach">
    <ul class="list">
      <li class="item item-text-wrap">
        <div class="text-header">Start Coaching in Sadana Planner</div>
        <div class="content_s">
          Are you a skillful coach or instructor and would like to become our coach? Contact us and provide us with the topics and show us the material you’re likely to deliver and teach.
        </div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">Prerequisites</div>
        <div class="content_s">
          ICF or any official coaching certification.
        </div>
      </li>
      <li class="item item-text-wrap">
        <div class="text-header">User Accounting and Tools</div>
        <div class="content_s">
          All user accounts can potentially be upgraded to a coach account once your profile and application have been approved. The App itself has a separate interface that enables a Coach to create programs and upload content using a smartphone very easily.
        </div>
      </li>
    </ul>
  </div>
</ion-content>
